/*Botones Modales Registro e Iniciar sesion*/
#btnPrimario{
  background-color: #FF730B;
  border-color: #FF730B;
  color: white;
}
#btnSecundario{
  font-style: #FF730B;
  border-color: #FF730B;
  color: #343A40;
}
