.btn-faqs,
.btn-faqs:hover,
.btn-faqs:active {
    background-color:#FF730B;
    font-weight: 400;
    color: #FFFFFF;
    box-shadow: 20px;
    font-family:'Quicksand';

}
.modal-header{
  background-color:#FF730B;
  color: #FFFFFF;
  text-decoration: none;
  font-family:'Quicksand';
}
button.close{
  background-color:#FF730B;
}
h5 #exampleModalScrollableTitle.modaltitle{
  position: fixed;
}
.modal-title{
  margin-left: 95px;
}
div h2{
  font-family:'Quicksand';
}
h5{
  font-family:'Quicksand';
}
