/*nav uno*/
nav#botones {
list-style-type: none;
align-content: right;

}



/*nav dos*/
nav ul li{
  size: 300%;
}
div#navbarNavAltMarkup{

}

ul#navegar {
list-style-type: none;
overflow: hidden;
}
li{
  margin-left: 20px;
  float: right;
  }
a{
  display: block;
}
dl, ol, ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }



@media(min-width:900px){
  ul#navegar{
    display: flex;
  }
}

@media(min-width:900px){
  nav#botones{
    display: flex;
    justify-content: flex-end;
  }
}
