body {
  height: 100%;
  background-color: yellow;
}




/*Boton Search*/
.searchbar{
    margin-bottom: auto;
    margin-top: auto;

    height: 60px;
    background-color: #ffa808;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 160px;
    caret-color:#ffa808;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{

    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

nav ul li {
  list-style: none;
  display: inline;
}





/*SECCIÓN OFERTAS DESTACADAS*/

/*Etiqueta de descuento*/

div.naranja  div.container.pt-0  div:nth-child(1)  div:nth-child(1)  span{
  color:#fff;
  background-color:#dc3545;
  height: 57px;
  width: 57px;
  border-radius:200px;
  font-weight: bolder;
  font-size:1.1em;
  text-transform:uppercase;
  padding:16px 7px;
  display:block;
  position:absolute;
  top:10px;
  left:0;
  line-height: 1.2em;
  margin-left: 0.6em;
  margin-top: 0.1em;
}



div.container.tituloPromos h2 {
font-size: 1.5em;
font-family:'Quicksand';
font-weight: 700;
 color: white;
 letter-spacing:0.15em;
 margin-bottom: 0;
}



div.naranja{
  background-color: #FF730B;
}
.contenedorCards{
  overflow: hidden;
  margin:0 auto;
  padding-bottom: 0;
  background-color: #FF730B;
  width: 100%;
  }

/*Botón cargar al Carrito*/
  div.card-body .btn-primary {
    background-color: black;
    border-color: black;
  }

.container{
    padding-top: 2%;
    padding-bottom: 2%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*NOSOTROS*/

div.derecha{
  margin-top: 5%;
  margin-bottom: 3%;
}

.imagenNosotros{
  display: block;
  width: 17%;
  margin: 0 auto;
  align-self: center;
}

/*PRODUCTOS AL LADO DERECHO DEL BUSCADOR LATERAL*/

#CerveRubias .h3 {
font-family:'Quicksand', sans-serif;
}

/*CARDS*/
/*le quita un recuadro negro a las cards*/
div.card{
  background-color: white;
  border: none;
}

/*SECCION PRODUCTOS - RUBIAS*/

/*Titulo Rubia*/
.rubia{
  font-family:'Quicksand', sans-serif;
  font-size: 155%;
  font-weight: bold;
  background-color: #EDDE20;
  color: white;
  padding-left: 0.5em;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  margin-bottom: 0%;
}

/*Variedades de Rubias*/
.rubiaTipos{
  font-family: 'Quicksand', sans-serif;
  background-color: #F9ED7D;
  color: #3F3F3F;
  padding-left: 0.5em;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*Descripcion de marca en las cards*/
div.productos-content div.col-md-9 > div  p {
color:grey;
}

/*MODAL dentro de button VER*/
.contenedor-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
/*Botones ver y carrito amarillas*/
.contenedor-modal button {
  position: relative;
  top: 40%;
}

div.productos-content div.col-md-9 div.card-body.p-0  div button{
  border-color: #EDDE20;
  background-color:  #EDDE20;
}

div.productos-content  div.col-md-9 div a {
  border-color: #EDDE20;
  background-color: #EDDE20;
}

div.productos-content  div.col-md-9 div a .button {
  border-color: #F9ED7D;
  background-color:  #F9ED7D;
}

/*Etiqueta de descuento*/
.product-new-label{
  color:#fff;
  background-color:#dc3545;
  height: 45px;
  width: 45px;
  border-radius:200px;
  font-weight: bolder;
  font-size:12px;
  text-transform:uppercase;
  padding:7px 7px;
  display:block;
  position:absolute;
  top:10px;
  left:0;
  line-height: 1.2em;
}

/*SECCION PRODUCTOS - NEGRAS*/

/*Título*/
.negra{
  font-family: 'Quicksand', sans-serif;
  font-size: 155%;
  background-color: black;
  color: #fff;
  padding-left: 0.5em;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  margin-bottom: 0%;
  margin-top:2em;
}

/*Variedades de Negras*/
.negraTipos{
  font-family: 'Quicksand', sans-serif;
  background-color: grey;
  color: #fff;
  padding-left: 0.5em;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*Botones ver y carrito negras*/
div.productos-content  div.col-md-9 div .btnCardsNegras a{
  background-color: grey;
  border-color: grey;
}

/*SECCION PRODUCTOS - ROJAS*/

/*Título*/
.roja{
  font-family: 'Quicksand', sans-serif;
  font-size: 155%;
  background-color: #912100;
  color: #fff;
  padding-left: 0.5em;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  margin-bottom: 0%;
  margin-top:2em;
}

/*Variedades de Rojas*/
.rojaTipos{
  font-family: 'Quicksand', sans-serif;
  background-color: #d63000;
  color: #fff;
  padding-left: 0.5em;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*Botones ver y carrito rojas*/

div.productos-content  div.col-md-9 div .btnCardsRojas a{
  background-color: #d63000;
  border-color: #d63000;
}


/*Footer*/
.promosBancarias{
  width: 83%;
  display: block;
  margin: 0 auto;
  padding-bottom: 0%;
}

/*=================footer css start==============*/
.webintern-footer {
background: #FF730B;
}

.webintern-footer-inner {
padding-top: 20px;
padding-bottom: 0px;
}

.webintern-footer-logo {
display: inline-block;
}

.webintern-footer .webintern-footer-inner .simple-text p {
color: #fff;
margin-top: 17px;
margin-bottom: 15px;
}
.simple-text p {
font-size: 16px;
color: #42435d;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
line-height: 22px;
margin-bottom: 0;
}

.webintern-footer .webintern-footer-inner .simple-text a {
font-family: 'Open Sans', sans-serif;
font-weight: 700;
color: #f2c21a;
font-size: 15px;
}
.footer-2 {
padding-left: 55px;
}
.webintern_footer_title {
margin-top: 0px;
margin-bottom: 25px;
}
.webintern_footer_title small {
font-family: 'Work Sans', sans-serif;
color: #fff;
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
}
.webintern_footer_title:after {
content: '';
display: block;
width: 30px;
height: 2px;
/*background: #f2c21a;*/
margin-top: 15px;
}
.webintern-footer-list {
padding: 0;
}
.webintern-footer-list li {
margin-bottom: 7.5px;
list-style: none;
}
.webintern-footer-list a {
position: relative;
font-size: 15px;
line-height: 18px;
color: #fff;
padding-left: 0;
letter-spacing: 0.10px;
font-family: 'Open Sans', sans-serif;
}
.footer-3 {
padding-left: 65px;
}
.webintern-footer-inner .simple-text.last {
color: #d5d5d5;
font-size: 17px;
font-style: italic;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
}
.tt-subscribe {
position: relative;
}
.tt-subscribe input:not([type="submit"]) {
width: 100%;
height: 46px;
background: #fff;
font-size: 15px;
color: #838486;
padding-left: 20px;
padding-right: 70px;
border: 2px solid #fff;
-moz-border-radius: 3px;
border-radius: 3px;

}
.tt-subscribe-submit {
background: #001b57;
}

.tt-subscribe-submit {
position: absolute;
top: 0;
right: 0;
width: 52px;
height: 46px;
font-size: 18px;
line-height: 46px;
color: #2a2a2a;
text-align: center;
background: #001b57;
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-moz-border-radius-bottomright: 3px;
border-bottom-right-radius: 3px;
}


.tt-subscribe-submit i.fa-envelope:before {
content: "\f0e0";
position: relative;
z-index: 1;
color: #fff;
}
.tt-subscribe-submit input {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: black;
border: 0;
}
ul.tt-socail {
padding: 0;
margin-top: 30px;
}
.tt-socail li {
display: inline-block;
margin-right: 10px;
}
.tt-socail a {
display: block;
width: 36px;
height: 36px;
font-size: 17px;
line-height: 34px;
color: #fff;
text-align: center;
border: 1px solid #fff;
-moz-border-radius: 100%;
border-radius: 100%;
}
.webintern_footer_title small {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

div.col-sm-6.col-md-3 img.logoFooter{
    width: 26%;
    height: 29%;
}

/*------------------------------------------------*/

/*--Copyright-----------------------------*/
div.footer-copyright{
background-color: black;
}

div.footer-copyright a.copy{
color: #DBDAC3;
}
.h2, h2{
font-weight: 80%;
text-align: center;
font-family: 'Copse', sans-serif;
margin-top: 2%;
margin-bottom: 2%;
}
h2.text-uppercase{
  font-size: 200%;
}
h2{
  margin-top: 25px;
  font-size: 80%;
  }

button.btn.btn-success{
    background-color: black;
    border-color: black;
  }
  div.form-group{
    margin-top: 3%;
    font-size: 80%;
  }

button.btn.btn-succes{
  align-items:center;
}

div.consulta{
  width: 100%;

}
