button.btn.btn-lg.btn-success {
    background-color: #FF730B;
    border-color: #FF730B;
}

body > header > div > div {
  font-family: "Quicksand";
  background-color: #888585;

}
body > header > nav:nth-child(1) {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

body > header > div {
    background-color: #888585;
}

.color-gris {
padding-top: 100px;
padding-bottom: 100px;
}

body > header > nav:nth-child(2) {
  margin-bottom: 50px;
}
body > header > nav:nth-child(2) > div {
  margin-left: 100px;
}

#navbarSupportedContent {
  margin-right: 70px;
  margin-left: 250px;
}

nav.navbar.navbar-expand-lg.navbar-light.m-0.p-0 > div > span.navbar-text {
  margin-right: 600px;
  padding: .5rem 1rem;

}
body > header > footer > ul > div.footer-copyright.text-center.py-3 {
  box-sizing: border-box;

}
