body  header div {
  font-family: "Quicksand";
  background-color: #888585;
}

.container{
    padding-top: 2%;
    padding-bottom: 2%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Botones Registrarme e Iniciar sesión*/
body > header > nav:nth-child(1) > div > span:nth-child(2) > a:nth-child(1) > button{
background-color: #ff9640;
border-color: #ff9640;
}

body > header > nav:nth-child(1) > div > span:nth-child(2) > a:nth-child(2) > button{
background-color: #ff9640;
border-color: #ff9640;
}
/*Iconos fontAWSOME y Menu al lado del logo*/

#navbarSupportedContent  ul.navbar-nav.mr-auto li a{
  color:#5c534e;
}

#navbarSupportedContent  ul.navbar-nav.mr-3  li a{
  color: #5c534e;
  font-size: 1.5em;
}


button.btn.btn-lg.btn-success {
    background-color: #FF730B;
    border-color: #FF730B;
}

body > header > div {
    background-color: #888585;
}

.color-gris {
padding-top: 100px;
padding-bottom: 100px;
}

body > header > footer > ul > div.footer-copyright.text-center.py-3 {
  box-sizing: border-box;

}
