/*Carrousel cards*/

.carrouselCards{
    background-color: pink /*#FF730B*/;
}
.contenedorCards{
    background-color: #FF730B;
    width: 100%;
}

div .col-md-4 .uno{
padding-left: 0px;
padding-right:0px;
}

div .col-md-4 .dos{
padding-left: 0px;
padding-right:0px;
}

div .col-md-4 .tres{
padding-left: 0px;
padding-right:0px;
}






  div.card{
    margin: 1.6%;
    /*display: inline-inline-block;*/
    background-color: white;
  }

  div.card-body .btn-primary {
    background-color: black;
    border-color: black;
  }

  div.bd-example{
    width: 100%;
    /*background-color: pink;*/
  }

  div.carrousel.container{
    /*padding-top:0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;*/
    /*background-color: pink;*/
  }
