

/*nav uno*/
nav #botones{
list-style-type: none;
align-content: right;
}

.btn-dark{
 margin-right: 1%;
}
 /*.btn-outline-dark .m-2*/

/*nav dos*/
nav ul#navegar{
  size: 300%;
}

.logo{
  width: 12%;
  margin-right: 3%;
}
div#navbarNavAltMarkup{

}

ul#navegar {
list-style-type: none;
float: right;
}
li{
  margin-left: 20px;

  overflow: hidden;
  }
a{
  display: block;
}
dl, ol, ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }



@media(min-width:900px){
  ul#navegar{
    display: flex;
  }
}

@media(min-width:900px){
  nav#botones{
    display: flex;
    justify-content: flex-end;
  }
}
