
/*Primera NAV*/

nav ul{
margin-top: 1%;
}
nav ul li {
  list-style: none;
  display: inline-block;
}

.bg-light-primera-nav{
background-color: black;
}

form .btn{
  color: white;

}
/*Segunda NAV*/

.bg-light{
  background-color: black;
}
.navbar-nav .nav-link.active{
  font-family: font-family:'Copse', sans-serif;
}
img{
  width: 9%; height: 9%;
}

form{
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  background-color: white;
  color: white;
}
form{
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  background-color: white;
  color: black;
}
